:root{
  --main-color-light: rgb(215, 216, 255);
  --main-color-dark: rgb(104, 87, 255);
}
*{margin:0;padding:0;position:relative;}
body{
  display: flex;
  text-align: center;
  justify-content: center;
  justify-items: center;
  text-justify: center;
  flex-wrap: wrap;
  height: auto;
}
form{
  text-align: left;
  padding: 0 6px;
  display: block;
  position: relative;
  top: 100px;
  color: var(--main-color-dark);
  background-color: var(--main-color-light);
  border: 2px solid var(--main-color-dark);
  border-radius: 8px;
}
form > *{
  left: 0;
}
.warning{
  background-color: rgb(153, 0, 0);
  color: rgb(255, 103, 103);
}
.success{
  background-color: rgb(18, 153, 0);
  color: rgb(108, 255, 103);
}
.success,
.warning{
  border-radius: 4px;
  text-align: center
}