:root{
  --main-color-light: rgb(215, 216, 255);
  --main-color-dark: rgb(104, 87, 255);
  --border-solid-dark: #228 solid 2px;
  --border-solid-light: white solid 2px;
}

*{
  outline: none;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: monospace, arial;
  border-radius: 4px;
}
*:focus,
*:active{
  outline: none;
}
*:invalid{
  border-color: rgb(128, 0, 0);
}

html{
  height: 700px;
}

body{
  font-size: 12px;
  /* background-image: url("../img/tulips2.jpeg");
  background-size: cover; */
  height: 100%;
}
#bgimage{
  position: fixed;
  left: 0;
  right: 0;
  z-index: 0;

  display: block;
  background-image: url('../img/tulips3.png');
  background-size: cover;
  height: 1200px;
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px);
}

a{
  text-decoration: none;
}
select{
  margin: 2px 0;
  color: #fff;
  background-color: var(--main-color-dark);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border-top: var(--border-solid-light);
  border-right: var(--border-solid-dark);
  border-bottom: var(--border-solid-dark);
  border-left: var(--border-solid-light);
}
select > *{
  color: var(--main-color-light);
  background-color: var(--main-color-dark);
}
svg {
  height: 1em;
  fill: currentColor;
  vertical-align: bottom;
  float: left;
}

#topbar{
  background-color: var(--main-color-light);
  height: 40px;
  padding: 4px 0 6px 5px;
  font-size: 25px;
  border-radius: 0;
}

#home{
  background-color: var(--main-color-dark);
  color: white;
  float: left;
  margin-right: 10px;
  top: 3px;
  border-radius: 5px;
  border: solid 0px var(--main-color-dark);
  padding: 4px;
  transition: 0.2s background-color ease-out, 0.2s color ease-out;
}
#home:hover{
  background-color: white;
  color: var(--main-color-dark);
}

#inlog-btn,
#registreer-btn,
#uitloggen-btn,
#advertentie-plaatsen-btn,
#gebruikersnaam{
  background-color: var(--main-color-dark);
  color: white;
  float: right;
  margin-right: 10px;
  top: 3px;
  border-radius: 5px;
  border: solid 0px var(--main-color-dark);
  padding: 4px;
  transition: 0.2s background-color ease-out, 0.2s color ease-out;
}

#inlog-btn:hover,
#registreer-btn:hover,
#uitloggen-btn:hover,
#advertentie-plaatsen-btn:hover,
#gebruikersnaam{
  background-color: white;
  color: var(--main-color-dark);
}

img.navbar-icon{
  height: 1em;
  float: left;
  top: 2px;
}

.wrapper{
  width: 100%;
  height: 100%;
}

#search-input{
  font-size: 2rem;
  height: 48px;
  width: 50%;
  left: 25%;
  top: 50px;
  border-radius: 1rem;
  border: 0;
  background-color: none;
  transition: box-shadow 0.5s;
}
#search-input>*{
  box-shadow: 0px 0px 4px var(--main-color-dark);
}
#search-input>*:focus{
  box-shadow: 0px 0px 8px white;
}
#search-input>input[name="searchInput"]{
  border: 0;
  height: 48px;
  top: 0;
  float: left;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 24px;
}
#search-input>select[name="categorieID"]{
  height: 48px;
  font-size: 16px;
  top: 0;
  float: left;
  width: 29.4%;
}

form#registreer,
form#inloggen,
form#advertentie-formulier{
  border-radius: 2rem;
  text-align: center;
  color: var(--main-color-dark);
  background-color: var(--main-color-light);
  margin-top: 3rem;
  width: 40%;
  left: 30%;
  display: grid;
  grid-template-columns: auto;
  padding: 2rem;
  box-shadow: 0px 0px 15px var(--main-color-light);
}

form>h3{
  font-size: 2rem;
}

.success{
  color: white;
  background-color: rgb(55, 155, 55);
}

.warning{
  color: white;
  background-color: rgb(155, 55, 55);
}

.success,
.warning{
  width: auto;
  margin: .7rem .0rem;
  font-size: 1.5rem;
}

form>input[type="text"],
form>input[type="password"],
form>input[type="textarea"],
form>input[type="number"],
form>textarea{
  color: var(--main-color-dark);
  border-radius: 0;
  padding: 7px;
  border: none;
  border-bottom: 1px var(--main-color-dark) solid;
}

form>textarea{
  height: 6rem;
}

form>input[type="text"]:focus,
form>input[type="password"]:focus,
form>input[type="textarea"]:focus,
form>input[type="number"]:focus,
form>textarea:focus{
  box-shadow: 0px 0px 8px var(--main-color-dark);
  z-index: 1;
}

form>input[type="file"]{
  border: none;
}

form>button[type="submit"]{
  margin-top: 4px;
  color: var(--main-color-dark);
  background-color: white;
  font-size: 1.2rem;
  left: 37.5%;
  width: 25%;
}
