table{
  position: relative;
  margin: 0 auto;
  border: 2px #449 solid;
  background-color: lightblue;
}
table > tr{
  text-align: center;
  border-bottom: 2px #449 solid;
}
form{
  border: 2px #aaf solid;
  background-color: #eef;
  text-align: center;
  padding: 0 6px;
  display: block;
  position: relative;
  top: 100px;
  border-radius: 8px;
  width: 400px;
  margin: 0 auto;
}
form>p{
  background-color: #ddf;
}
form>input{
  text-align: center;
}
tr:first-child{
  background-color: white;
  border: 2px #66a solid;
  z-index: 1;
  position: fixed;
  top: 20px;
  transform: translateX(-5);
}
th{
  text-align: center;
  border-bottom: 2px #449 solid;
}
td{
  text-align: center;
  border-bottom: 1px #449 dashed;
  margin: 0 4px;
}